:root{
    --oscuro: #0f0f0f;
    --primario: #fbfbfb; 
    --secundario:#af599e;
    --alterno: rgba(175, 89, 158, 0.3);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: var(--primario);
    font-size: 1.8rem;
    font-family: 'Krub', sans-serif;
    margin: 0;
}
main{
    max-width: 120rem;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.construccion{
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.header {
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 9rem;
    box-shadow: 0px 6px 11px 0px rgba(168,165,168,1);
    position: fixed;    
    left: 0;
    top: 0;
    width: 100%;
}

.logo{
    height: 9rem;
    width: 9rem;
}
.navbar {
    display: flex ;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
}

.navbar u li {
    display: inline-block;
    margin: 0 5px;
    width: 5rem;
    height: 5rem;
    text-align: center;
}

.navbar-link {
    margin-right: 1.5rem;
    text-decoration: none;
    color: var(--oscuro);
}

/*style main -- foto*/
.foto {
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto_main {
    background-color: #fbfbfb;
    padding: 0;
    height: 40rem;
    width: 40rem;
    border-radius: 20rem;
}

/* style manin -- Sections*/

.container_main {
    display: flex;
    flex-direction: column;
    justify-content:center ;
}
.main {
    /*background-color: #de3d3d;*/
    padding: 0;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main p {
    font-size: 1.8rem;
    text-align: justify;
    padding: 0.5rem;
    margin: 1rem 1rem;
    line-height: 1.2;
}
.main h1 {
    margin: 1rem 1rem;
    text-align: center;
    font-size: 3.6rem;
}

.main2 {
    background-color: var(--alterno);
    padding: 0;
    margin: 10rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.2rem;
}

.main2 p {
    
    font-size: 1.8rem;
    text-align: justify;
    padding: .5rem;
    margin: 1rem 1rem;
    line-height: 1.2;
}



.main2 h2 {
    
    margin: 1rem 1rem;
    text-align: center;
    font-size: 2.8rem;
}

.boton {
    padding: 0;
    text-align: center;
    margin-bottom: 5rem;
}
.boton-link {
    background-color:#af599e;
    padding: 1rem 3rem;
    border-radius: 3rem;
    text-decoration: none;
    font-size: 2rem;
    color: var(--primario);
    font-weight: bold;
}

/* Style Iconos*/
.container_icono {
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_icono ul li {
    display: flex;
    justify-content: center;
    align-items:center
}

.container_icono ul li a {
    margin: 1rem 1rem;
    padding: 0 .8rem;
}
 .icono-link {
    height: 5rem;
    width: 5rem;
    margin: 0.5rem;
 }


/* style footer*/
.finpag {
    background-color: var(--secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primario);
    font-size: 1.8rem;
    font-weight: bold;
    height: 9rem;
}

/* estilos para contactos */

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;

}
@media (max-width:640px) {
    .construccion {
        display: flex;
        margin: 120px 20px;
    }
    .boton_enviar {
        margin:auto 0; 
    }
    .horario_contacto {
        margin-bottom: 40px;
    }
 }

.input-principal{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.medios_contacto {
    margin: 30px 0;
    border: none;
    padding: 0;
}
.horario_contacto {
    margin-top: 30px;
    border: none;
    padding: 0;
}
.boton_enviar {
    width: 30%;
    margin: 30px 0;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    background-color: #f3a305;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    transition: 1s all;
    cursor: pointer ;

}
.boton_enviar:hover {
    background-color: rgb(3, 159, 89);
    transform: scale(1.1);
}
